{% extends "base.html" %}
{% block content %}

    <h1 id="header-title">About</h1>

    <div class="container-md">
        <h5 class="text-center mt-5">How to use and get the most out of MovieWiki!</h5>
        <p class="text-center">Welcome to MovieWiki, the place to share your views on the latest movies and find information on new movies to watch!</p>
        <p class="text-center">
            To get started have a look round to see what Movies and Reviews are already here and if you want to add to MovieWiki, just create an account or sign in!
            <br>
            Below is our FAQs if you need any help, but if something isn't covered then send us a message throught the Contact button above!
        </p>
    
        <h3 class="carousel-heading">FAQs</h3>
    
        <div class="accordion my-5" id="faq-accordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="age-limit-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#age-limit-collapse" aria-expanded="false"
                        aria-controls="age-limit-collapse">
                       Is there an age limit to use MovieWiki?
                    </button>
                </h2>
                <div id="age-limit-collapse" class="accordion-collapse collapse"
                    aria-labelledby="age-limit-header" data-bs-parent="#faq-accordion">
                    <div class="accordion-body">
                        <p>You have to be over the age of 8 to create an account on MovieWiki however anyone can view the Movies and Reviews</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="why-account-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#why-account-collapse" aria-expanded="false"
                        aria-controls="why-account-collapse">
                        Why Have A MovieWiki Account?
                    </button>
                </h2>
                <div id="why-account-collapse" class="accordion-collapse collapse"
                    aria-labelledby="why-account-header" data-bs-parent="#faq-accordion">
                    <div class="accordion-body">
                        <p>With a MovieWiki Account, you can:</p>
                        <ul>
                            <li>Add Movies and update the Movies You create</li>
                            <li>Add Reviews to existing Movies</li>
                            <li>Keep track of Movies you have reviewed in your User Profile</li>
                            <li>Create a list of Movies you have watched and Movies you want to watch which is displayed in your User Profile and on the Movies</li>
                        </ul>
                        <p>What are you waiting for? Sign Up!</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="movies-to-add-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#movies-to-add-collapse" aria-expanded="false"
                        aria-controls="movies-to-add-collapse">
                       What Movies can I add?
                    </button>
                </h2>
                <div id="movies-to-add-collapse" class="accordion-collapse collapse"
                    aria-labelledby="movies-to-add-header" data-bs-parent="#faq-accordion">
                    <div class="accordion-body">
                        <p>You can add any Movie you like as long as it has been released already. You cannot add Movies that are yet to be seen publically.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="create-movie-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#create-movie-collapse" aria-expanded="false"
                        aria-controls="create-movie-collapse">
                        How do I add a Movie?
                    </button>
                </h2>
                <div id="create-movie-collapse" class="accordion-collapse collapse"
                    aria-labelledby="create-movie-header" data-bs-parent="#faq-accordion">
                    <div class="accordion-body">
                        <p>To add a Movie:</p>
                        <ol>
                            <li>Click Movies at the top of the page</li>
                            <li>Select "New Movie"</li>
                            <li>Fill out all required fields (*) in the form</li>
                            <li>Click Create Movie</li>
                        </ol>
                        <p>You need to be signed in to create a Movie</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="image-link-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#image-link-collapse" aria-expanded="false"
                        aria-controls="image-link-collapse">
                        How do I add a Movie Image Link?
                    </button>
                </h2>
                <div id="image-link-collapse" class="accordion-collapse collapse"
                    aria-labelledby="image-link-header" data-bs-parent="#faq-accordion">
                    <div class="accordion-body">
                        <p>Adding a Movie Image Link isn't required, when creating a movie, however if you want to add one, this is how you do it:</p>
                        <ol>
                            <li>Find a movie image online that you like</li>
                            <li>Check that it is royalty free and using it will not infringe copyright laws</li>
                            <li>Right click on the image and select "copy image address". If there is not this option then left click on the image and try again</li>
                            <li>Paste the link into a url bar to check that it works</li>
                            <li>If there is any text after the image extension (eg. .jpg or.png) then remove it in the URL bar and check the link again. If the link breaks then find a new image</li>
                            <li>Copy the image link into the input box</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="update-delete-movie-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#update-delete-movie-collapse" aria-expanded="false"
                        aria-controls="update-delete-movie-collapse">
                        How do I Update Or Delete a Movie?
                    </button>
                </h2>
                <div id="update-delete-movie-collapse" class="accordion-collapse collapse"
                    aria-labelledby="update-delete-movie-header" data-bs-parent="#faq-accordion">
                    <div class="accordion-body">
                        <p>You will find the Update Movie button under the Movie name in the Movie's profile, however this button will only appear if you created the Movie. <br>If you see some incorrect information in a Movie Profile then get in touch with us using the Contact button above.</p>
                        <p>The Delete Movie button can be found at the bottom of the Update Movie form</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="watched-want-to-watch-movie-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#watched-want-to-watch-movie-collapse" aria-expanded="false"
                        aria-controls="watched-want-to-watch-movie-collapse">
                        Where Can I View and Add/Remove Movies in my Watched and Want to Watch lists?
                    </button>
                </h2>
                <div id="watched-want-to-watch-movie-collapse" class="accordion-collapse collapse"
                    aria-labelledby="watched-want-to-watch-movie-header" data-bs-parent="#faq-accordion">
                    <div class="accordion-body">
                        <p>You will find your Watched and Want to Watch lists displayed in your User Profile</p>
                        <p>The buttons to control these list are underneath the Movie Title in their individual Movie Profiles. The Icon next to the Movie Name, will tell you if you have added the current Movie to either list</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="create-review-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#create-review-collapse" aria-expanded="false"
                        aria-controls="create-review-collapse">
                        How do I add a Review?
                    </button>
                </h2>
                <div id="create-review-collapse" class="accordion-collapse collapse"
                    aria-labelledby="create-review-header" data-bs-parent="#faq-accordion">
                    <div class="accordion-body">
                        <p>To add a Review:</p>
                        <ol>
                            <li>Find a Movie you want to Review and click on its profile</li>
                            <li>Click the "Create Review" button</li>
                            <li>Fill out all required fields (*) in the form</li>
                            <li>Click Create Review</li>
                        </ol>
                        <p>You need to be signed in to create a Review</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="update-delete-review-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#update-delete-review-collapse" aria-expanded="false"
                        aria-controls="update-delete-review-collapse">
                        How do I Update Or Delete a Review?
                    </button>
                </h2>
                <div id="update-delete-review-collapse" class="accordion-collapse collapse"
                    aria-labelledby="update-delete-review-header" data-bs-parent="#faq-accordion">
                    <div class="accordion-body">
                        <p>To Update your review, visit the Movie's profile and click the Update Review button at the top of the page</p>
                        <p>To Delete your review, click the View All Reviews button on the Movie's Profile and when the Reviews are listed, yours will have an Update and Delete button underneath the Review</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="update-delete-account-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#update-delete-account-collapse" aria-expanded="false"
                        aria-controls="update-delete-account-collapse">
                        How do I Update or Delete My Account?
                    </button>
                </h2>
                <div id="update-delete-account-collapse" class="accordion-collapse collapse"
                    aria-labelledby="update-delete-account-header" data-bs-parent="#faq-accordion">
                    <div class="accordion-body">
                        <p>To Update your account details, navigate to your profile page, click the Update Profile button underneath your Username and make any changes in the form before clicking Update Profile.</p>
                        <p>If you wish to Delete you account on Movie Wiki, you will find the button at the bottom of your Update Account page.</p>
                        <p>Deleting your account will be <strong>permenent</strong> and you <strong>will not</strong> be able to modify any reviews or movie profiles created with this account even if you register again</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
