{% extends "base.html" %}
{% block content %}

    <h1 id="header-title">Add Review</h1>

    <div class="container-md">
        <h3 class="text-center mt-5">Write a Review for any Movie that has a profile</h3>
        <h5 class="text-center">If the movie you want is not in the dropdown menu then it doesn't have a profile yet!</h5>
        <form class="generic-form" method="POST" action="{{ url_for('create_review') }}">
            <div id="add-review" class="card form-card card-small shadow">
                <div class="text-end small-text unselected-text">
                    * required
                </div>
                <label for="movie-title-list" class="small-text unselected-text">Movie Title *</label>
                <select id="movie-title-list" name="selected-movie-id" required>
                    <option class="hidden" value="" hidden>Movie Title *</option>
                    {% for movie in movie_title_list %}
                        {% if movie._id|string == selected_movie_id %}
                            <option selected value="{{ movie._id }}">{{ movie.movie_title|title }} ({{ movie.release_date.strftime('%Y') }})</option>
                        {% else %}
                            <option value="{{ movie._id }}">{{ movie.movie_title|title }} ({{ movie.release_date.strftime('%Y') }})</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <p class="invalid-message mb-2">&nbsp;</p>
                <label for="review-title" class="small-text unselected-text">Review Title *</label>
                <input type="text" name="review-title" id="review-title" placeholder="Review Title" minlength="2" maxlength="75" class="validate" pattern='^(?!.*[  !-.,?:/;"(]{3})[a-zA-Z0-9 !-.,?:/;"(]{2,75}$' required>
                <p class="invalid-message">2 to 75 characters long using letters, numbers and only 2 spaces and/or symbols consecutively</p>
                <label for="movie-review" class="small-text unselected-text">Movie Review *</label>
                <textarea name="movie-review" id="movie-review" rows ="8" cols="100" placeholder="Movie Review" minlength="10" maxlength="500" class="validate" pattern='^{10,500}$' required></textarea>
                <p class="invalid-message">Review from 10 to 500 characters in length</p>
                <div class="star-rating-container">
                    <input type="hidden" name="star-count" id="star-count" value="0">
                    <span>Click the stars to choose your Star Rating: </span>
                    <span class="star_container">
                        <i id="1" class="fas fa-star"></i>
                        <i id="2" class="fas fa-star"></i>
                        <i id="3" class="fas fa-star"></i>
                        <i id="4" class="fas fa-star"></i>
                        <i id="5" class="fas fa-star"></i>
                    </span>
                </div>
                <div class="buttons-container mt-4 mb-2">
                    <button type="submit" class="generic-button button-color-gold mt-2">Create Review</a></button>
                    <button class="generic-button mt-2"><a href="{{ url_for('home') }}">Cancel</a></button>
                </div>
            </div>
        </form>
        {% if not selected_movie_title %}
            <div class="mb-5 text-center">
                <span>If you can't find the Movie you want to review then make its profile page</span>
                <button type="submit" class="generic-button button-color-gold"><a href="{{ url_for('create_movie') }}">Create Movie</a></button>
            </div>
        {% endif %}
    </div>

{% endblock %}


{% block scripts %}

    <script src="{{url_for('static', filename='js/dropdown-color-change.js')}}"></script>
    <script src="{{url_for('static', filename='js/review-star-control.js')}}"></script>

{% endblock %}