{% extends "base.html" %}
{% block content %}

    <h1 id="header-title">Edit Movie</h1>

    <div class="container">
        <div class="card form-card card-large input-large shadow">
            <h4 class="text-center mt-2 mb-4">Update this movie profile by changing the values in this form!</h4>
            <form class="generic-form" method="POST" action="{{ url_for('edit_movie', movie_id=movie._id) }}" >
                <div class="text-end small-text unselected-text">
                    * required
                </div>
                <label for="movie-title" class="small-text unselected-text">Movie Title *</label>
                <input type="text" value="{{ movie.movie_title|title }}" name="movie-title" id="movie-title" placeholder="Movie Title" minlength="2" maxlength="30" class="validate" pattern="^(?!.*[\p{P} ]{2})[a-zA-Z0-9\p{P} ]{2,30}$" required>
                <p class="invalid-message">2 to 30 characters long using letters, numbers and only 1 space and/or symbol consecutively</p>
                <label for="release-date" class="small-text unselected-text">Release Date *</label>
                <input placeholder="Release Date *" type="date" value="{{ movie.release_date.strftime('%Y-%m-%d') }}" name="release-date" id="release-date" required>
                <p class="invalid-message">Use the date picker to select the release date</p>
                <label for="age-rating" class="small-text unselected-text">Age Rating*</label>
                <select id="age-rating" name="age-rating" class="text-body" required>
                    {% for age_rating in age_ratings %}
                        {% if age_rating.rating_value == movie.age_rating %}
                            <option selected value="{{ age_rating.rating_value }}">{{ age_rating.rating_name }}</option>
                        {% else %}
                            <option value="{{ age_rating.rating_value }}">{{ age_rating.rating_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="duration" class="small-text unselected-text">Duration (mins) *</label>
                <input value="{{ movie.duration }}" type="text" name="duration" id="duration" placeholder="Duration (mins) *" minlength="2" maxlength="3" class="validate" pattern="^[0-9]{2,3}$" required>
                <p class="invalid-message">Enter a number either 2 or 3 characters long</p>
                <label for="dropdown-genre-menu" class="small-text unselected-text">Movie Genre - Select as many as needed</label>
                <div class="dropdown">
                    <button class="dropdown-button dropdown-toggle text-start" type="button" id="dropdown-genre-menu" data-bs-toggle="dropdown" aria-expanded="false">
                      <span>Movie Genre Selection</span><i class="fas fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdown-genre-menu">
                        <div class="checkbox-group required">
                            {% for genre in genre_list %}
                                {% if genre.checked %}
                                    <li><input checked id="{{ genre.genre_name }}" name="movie-genre" value="{{ genre.genre_name|lower }}" type="checkbox">{{ genre.genre_name|title }}</li>
                                {% else %}
                                    <li><input id="{{ genre.genre_name }}" name="movie-genre" value="{{ genre.genre_name|lower }}" type="checkbox">{{ genre.genre_name|title }}</li>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </ul>
                </div>
                <hr class="shadow">
                <label for="director" class="small-text unselected-text">Director Name</label>
                <input value="{{ movie.director|title }}" type="text" name="director" id="director" placeholder="Director Name" minlength="2" maxlength="30" class="validate" pattern="^(?!.*[- ]{2})[a-zA-Z- ]{2,30}$">
                <p class="invalid-message">2 to 30 characters long using letters and only 1 space and/or dash consecutively</p>
                <label for="cast-members" class="small-text unselected-text">Cast Members - Write a list of cast members with all names seperated with a comma (,)</label>
                <input value="{{ cast_members_string|title }}" type="text" name="cast-members" id="cast-members" placeholder="Main Cast Members" minlength="5" maxlength="300" class="validate" pattern="^(?!.*[, ]{2})[a-zA-Z- ,]{5,300}$">
                <p class="invalid-message">A list of names seperated with a comma, 5 to 500 characters long, using letters and only 1 space, comma and/or dash consecutively (no spaces after the commas)</p>
                <hr class="shadow">
                <label for="movie-synopsis" class="small-text unselected-text">Movie Synopsis * - Write a short description of the movie</label>
                <input value="{{ movie.movie_synopsis }}" type="text" name="movie-synopsis" id="movie-synopsis" placeholder="Movie Synopsis *" minlength="10" maxlength="200" class="validate" pattern="^(?!.*[\p{P} ]{2})[a-zA-Z0-9\p{P} ]{10,200}$" required>
                <p class="invalid-message">10 to 200 characters long using letters, numbers and only 1 space and/or symbol consecutively</p>
                <label for="movie-description" class="small-text unselected-text pb-2">Movie Description - Write a longer description of the Movie</label>
                <textarea name="movie-description" id="movie-description" rows ="8" cols="140" placeholder="Movie Description" minlength="10" maxlength="100" class="validate" pattern="^(?!.*[\p{P} ]{2})[a-zA-Z\p{P} ]{10,100}$">{{ movie.movie_description }}</textarea>
                <p class="invalid-message">10 to 500 characters long using letters and only 1 space and/or symbol consecutively</p>
                <label for="image-link" class="small-text unselected-text">Image Link - Provide an image URL from a hosting website to display</label>
                <!-- Regex taken from https://stackoverflow.com/questions/169625/regex-to-check-if-valid-url-that-ends-in-jpg-png-or-gif/169631 -->
                <input value="{{ movie.image_link }}" type="text" name="image-link" id="image-link" placeholder="Link to Movie Image" class="validate" pattern="^https?://(?:[a-z0-9\-]+\.)+[a-z]{2,6}(?:/[^/#?]+)+\.(?:jpg|png)$">
                <p class="invalid-message">URL link starting with https:// and ending with either jpg/png<p>
                <hr class="shadow">
                <div class="switch-display mb-3">
                    <p class="text-center">Please use the switches to answer the following questions<br>"On" for Yes and "Off" for No</p>
                    <div class="form-check form-switch">
                        <label class="form-check-label" for="series-switch">Is this Movie part of a series?</label>
                        <input {% if  movie.is_part_of_series == true %}checked{% endif %} class="form-check-input" type="checkbox" name="series-switch" id="series-switch" data-bs-toggle="collapse" data-bs-target="#series-questions">
                    </div>
                    {% if user_has_reviewed == False %}
                        <div class="form-check form-switch">
                            <label class="form-check-label" for="write-review-switch">Do you want to write a Review for this Movie?</label>
                            <input class="form-check-input" type="checkbox" name="write-review-switch" id="write-review-switch" data-bs-toggle="collapse" data-bs-target="#add-review">
                        </div>
                    {% endif %}
                </div>
                <div id="series-questions" class="card form-card card-small shadow hidden collapse {% if  movie.is_part_of_series == true %}show{% endif %}">
                    <p class="mb-0">Fill out these questions about the series that this movie is part of.<br>This movie is:</p>
                        <div class="checkbox-container mt-0">
                            {% if movie.movie_series_info.series_position == "start" %}
                                <input checked class="series-checkboxes" type="radio" id="start-series" name="series-checkboxes" value="start">
                            {% else %}
                                <input class="series-checkboxes" type="radio" id="start-series" name="series-checkboxes" value="start">
                            {% endif %}
                            <label for="start-series"> The Start of a Series</label><br>
                            {% if  movie.movie_series_info.series_position == "end" %}
                                <input checked class="series-checkboxes" type="radio" id="end-series" name="series-checkboxes" value="end">
                            {% else %}
                                <input  class="series-checkboxes" type="radio" id="end-series" name="series-checkboxes" value="end">
                            {% endif %}
                            <label for="end-series"> The End of a Series</label><br>
                            {% if  movie.movie_series_info.series_position == "middle" %}
                                <input checked class="series-checkboxes" type="radio" id="middle-series" name="series-checkboxes" value="middle">
                            {% else %}
                                <input class="series-checkboxes" type="radio" id="middle-series" name="series-checkboxes" value="middle">
                            {% endif %}
                            <label for="middle-series"> None of the above</label><br>
                        </div>
                    <label for="series-name" class="small-text unselected-text">Series Name</label>
                    <input {% if  movie.is_part_of_series == True %}required{% endif %} type="text" value="{{ movie.movie_series_info.series_name|title }}" name="series-name" id="series-name" placeholder="Series Name" minlength="3" maxlength="30" class="validate" pattern="^(?!.*[\p{P} ]{2})[a-zA-Z0-9\p{P} ]{3,30}$">
                    <p class="invalid-message">3 to 30 characters long using letters,numbers and only 1 space and/or symbol consecutively</p>
                    <div {% if  movie.movie_series_info.series_position != 'end' or movie.movie_series_info.series_position != 'middle' %}hidden{% endif %} id="previous-movie-container">
                        <label for="previous-movie-name" class="small-text unselected-text">Previous Movie Name - Name of the movie before this one in the series</label>
                        <input {% if movie.movie_series_info.series_position and movie.movie_series_info.series_position != 'start' %}required{% endif %} type="text" value="{{ movie.movie_series_info.previous_movie_title|title }}" name="previous-movie-name" id="previous-movie-name" placeholder="Previous Movie in the Series" minlength="3" maxlength="30" class="validate" pattern="^(?!.*[\p{P} ]{2})[a-zA-Z0-9\p{P} ]{3,30}$">
                        <p class="invalid-message">3 to 30 characters long using letters, numbers and only 1 space and/or symbol consecutively</p>
                    </div>
                    <div {% if movie.movie_series_info.series_position != 'start' or movie.movie_series_info.series_position != 'middle' %}hidden{% endif %} id="next-movie-container">
                        <label for="next-movie-name" class="small-text unselected-text">Next Movie Name - Name of the movie after this one in the series</label>
                        <input {% if movie.movie_series_info.series_position and movie.movie_series_info.series_position != 'end' %}required{% endif %} type="text" value="{{ movie.movie_series_info.next_movie_title|title }}" name="next-movie-name" id="next-movie-name" placeholder="Next Movie in the Series" minlength="3" maxlength="30" class="validate" pattern="^(?!.*[\p{P} ]{2})[a-zA-Z0-9\p{P} ]{3,30}$">
                        <p class="invalid-message">3 to 30 characters long using letters, numbers and only 1 space and/or symbol consecutively</p>
                    </div>
                    <div class="checkbox-container mb-2 text-center">
                        <input class="series-checkboxes" type="checkbox" id="submit-series-info" name="submit-series-info" value="submit">
                        <label class="form-check-label" for="submit-series-info"> Click this box to submit the Series information</label><br>
                    </div>
                </div>
                {% if user_has_reviewed == False %}
                    <div id="add-review" class="card form-card card-small shadow hidden collapse">
                        <p>Write your review of this movie</p>
                        <input type="text" name="review-title" id="review-title" placeholder="Review Title" minlength="2" maxlength="75" class="validate" pattern="^(?!.*[\p{P} ]{2})[a-zA-Z0-9\p{P} ]{2,75}$">
                        <p class="invalid-message mb-2">2 to 75 characters long using letters, numbers and only 1 space and/or symbol consecutively</p>
                        <textarea name="movie-review" id="movie-review" rows ="8" cols="100" placeholder="Movie Review" minlength="10" maxlength="500" class="validate" pattern='^(?!.*[ ]{2})[a-zA-Z0-9 !-.,?:/;"()]{10,500}$'></textarea>
                        <p class="invalid-message">Message from 10 to 500 characters with these punctionation symbols !-.,?:/;"()' non consecutively</p>
                        <div class="star-rating-container">
                            <input type="hidden" name="star-count" id="star-count" value="0">
                            <span>Click the stars to choose your Star Rating: </span>
                            <span class="star_container">
                                <i id="1" class="fas fa-star"></i>
                                <i id="2" class="fas fa-star"></i>
                                <i id="3" class="fas fa-star"></i>
                                <i id="4" class="fas fa-star"></i>
                                <i id="5" class="fas fa-star"></i>
                            </span>
                        </div>
                        <div class="checkbox-container mb-2 text-center">
                            <input class="series-checkboxes" type="checkbox" id="submit-movie-review" name="submit-movie-review" value="submit">
                            <label class="form-check-label" for="submit-movie-review"> Click this box to submit your Movie Review</label><br>
                        </div>
                    </div>
                {% endif %}
                <div class="buttons-container my-4">
                    <button type="submit" class="generic-button button-color-gold mt-2">Update Movie</button>
                    <button class="generic-button mt-2"><a href="{{ url_for('home') }}">Cancel</a></button>
                    <button class="generic-button button-color-red mt-2"><a href="{{ url_for('delete_movie', movie_id=movie._id) }}">Delete Movie</a></button>
                </div>
            </form>
        </div>
    </div>


{% endblock %}

{% block scripts %}

    <script src="{{url_for('static', filename='js/dropdown-color-change.js')}}"></script>
    <script src="{{url_for('static', filename='js/review-star-control.js')}}"></script>
    <script src="{{url_for('static', filename='js/series-questions-control.js')}}"></script>
    <script src="{{url_for('static', filename='js/review-questions-control.js')}}"></script>
    <script src="{{url_for('static', filename='js/genre-selected-check.js')}}"></script>
    <script src="{{url_for('static', filename='js/create-edit-movie-validation.js')}}"></script>

{% endblock %}