{% extends "base.html" %}
{% block content %}

    <h1 id="header-title">Edit Account</h1>

    <div id="edit_user_profile-content" class="container">
        <div class="card form-card card-small shadow">
            <form class="generic-form" method="POST" action="{{ url_for('edit_user_profile', user_id=user._id) }}" >
                <div class="text-end small-text unselected-text">
                    * required
                </div>
                <label for="username" class="sub-script unselected-text">Username *</label>
                <input type="text" name="username" id="username" value="{{ user.username|title }}" minlength="5" maxlength="15" class="validate" pattern="^[a-zA-Z0-9-_]+{5,15}$" required>
                <hr class="shadow">
                <label for="firstname" class="sub-script unselected-text">First Name *</label>
                <input type="text" value="{{ user.firstname|title }}" name="firstname" id="firstname" placeholder="First Name" minlength="1" maxlength="15" class="validate" pattern="^[a-zA-Z0-9]{1,15}$" required>
                <label for="lastname" class="sub-script unselected-text">Last Name *</label>
                <input type="text" value="{{ user.lastname|title }}" name="lastname" id="lastname" placeholder="Last Name" required>
                <label for="dob" class="sub-script unselected-text">Date Of Birth *</label>
                <input type="date" value="{{ user.dob.strftime('%Y-%m-%d') }}" name="dob" id="dob" placeholder="Date of Birth" required>
                <label for="email" class="sub-script unselected-text">Email Address *</label>
                <input type="email" value="{{ user.email }}" name="email" id="email" placeholder="Email Address" required>
                <hr class="shadow">
                <p class="text-center small-text">Pick your favourite movie genre.</p>
                <div class="dropdown">
                    <button class="dropdown-button dropdown-toggle text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <span>Movie Genre Selection</span><i class="fas fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {% for genre in genre_list %}
                            {% if genre.checked %}
                            <li><input checked id="{{ genre.genre_name }}" name="movie-genre" value="{{ genre.genre_name|lower }}" type="checkbox">{{ genre.genre_name|title }}</li>
                            {% else %}
                            <li><input id="{{ genre.genre_name }}" name="movie-genre" value="{{ genre.genre_name|lower }}" type="checkbox">{{ genre.genre_name|title }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="buttons-container mt-4">
                    <button type="submit" class="generic-button button-color-gold mt-2">Update Account</button>
                    <button type="button" class="generic-button mt-2">Cancel</button>
                    <button type="button" class="generic-button button-color-red mt-2" onclick="confirm_profile_delete()">Delete Account</button>
                </div>
            </form>
        </div>
    </div>
    <div id="confirm_profile_delete" class="container card-large">
        <div class="row g-0">
            <div class="col-12 px-2 text-center">
                <h2 class="mt-5">Are you sure you want to delete this user profile?</h2>
                <i class="fas fa-exclamation-triangle display-1"></i>
                <p class="px-2 mt-4">Deleting this account will be permenent and you will not be able to modify any reviews or movie profiles created with this account even if you register again</p>
            </div>
        </div>
        <div class="buttons-container mt-4">
            <button class="generic-button button-color-red mt-2"><a href="{{ url_for('delete_user_profile', user_id=session['id']) }}">Delete Profile</a></button>
            <button class="generic-button mt-2"><a href="{{ url_for('profile', username=session['user']) }}">Cancel</a></button>
        </div>
    </div>


{% endblock %}
