{% extends "base.html" %}
{% block content %}

    <h1 id="header-title">Edit Movie</h1>

    <div class="container">
        <div class="card form-card card-large input-large shadow">
            <h4 class="text-center mt-2 mb-4">Update this movie profile by changing the values in this form!</h4>
            <form class="generic-form" method="POST" action="{{ url_for('edit_movie', movie_id=movie._id) }}" >
                <input type="text" value="{{ movie.movie_title|title }}" name="movie-title" id="movie-title" placeholder="Movie Title" class="validate" pattern="^[a-zA-Z0-9 \p{P}]+$" required>
                <input placeholder="Release Date" type="date" value="{{ movie.release_date.strftime('%Y-%m-%d') }}" name="release-date" id="release-date">
                <select id="age-rating" name="age-rating" class="text-body">
                    {% for age_rating in age_ratings %}
                        {% if age_rating.rating_value == movie.age_rating %}
                            <option selected value="{{ age_rating.rating_value }}">{{ age_rating.rating_name }}</option>
                        {% else %}
                            <option value="{{ age_rating.rating_value }}">{{ age_rating.rating_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                
                <div class="dropdown">
                    <button class="dropdown-button dropdown-toggle text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <span>Movie Genre Selection</span> 
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {% for genre in genre_list %}
                            {% if genre.checked %}
                            <li><input checked id="{{ genre.genre_name }}" name="movie-genre" value="{{ genre.genre_name|lower }}" type="checkbox">{{ genre.genre_name|title }}</li>
                            {% else %}
                            <li><input id="{{ genre.genre_name }}" name="movie-genre" value="{{ genre.genre_name|lower }}" type="checkbox">{{ genre.genre_name|title }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                
                <hr class="shadow">
                <input type="text" value="{{ movie.director|title }}" name="director" id="director" placeholder="Director" class="validate" pattern="^[a-zA-Z \p{P}]+$">
                <input type="text" value="{{ cast_members_string|title }}" name="cast-members" id="cast-members" placeholder="Main Cast Members" >
                <hr class="shadow">
                <input type="text" value="{{ movie.movie_synopsis }}" name="movie-synopsis" id="movie-synopsis" placeholder="Movie Synopsis" class="validate" pattern="^[a-zA-Z0-9 \p{P}]+$">
                <textarea name="movie-description" id="movie-description" rows ="8" cols="140" placeholder="Movie Description" class="validate" pattern="^[a-zA-Z0-9 \p{P}]+$">{{ movie.movie_description }}</textarea>
                <hr class="shadow">
                <input type="text" {% if movie.image_link != '../static/img/movie-placeholder.png' %} value="{{ movie.image_link }}" {% endif %} name="image-link" id="image-link" placeholder="Link to Movie Image">
                <input type="text" value="{{ movie.trailer_link }}" name="trailer-link" id="trailer-link" placeholder="Link to Trailer Video">
                <hr class="shadow">
                <div class="switch-display mb-3">
                    <p class="text-center">Please use the switches to answer the following questions<br>"On" for Yes and "Off" for No</p>
                    <div class="form-check form-switch">
                        <label class="form-check-label" for="series-switch">Is this Movie part of a series?</label>
                        <input {% if  movie.is_part_of_series == true %}checked{% endif %} class="form-check-input" type="checkbox" name="series-switch" id="series-switch" data-bs-toggle="collapse" data-bs-target="#series-questions">
                    </div>
                    {% if session.user not in movie_reviewers %}
                        <div class="form-check form-switch">
                            <label class="form-check-label" for="write-review-switch">Do you want to write a Review for this Movie?</label>
                            <input class="form-check-input" type="checkbox" name="write-review-switch" id="write-review-switch" data-bs-toggle="collapse" data-bs-target="#add-review">
                        </div>
                    {% endif %}
                </div>
                <div id="series-questions" class="card form-card card-small shadow hidden collapse {% if  movie.is_part_of_series == true %}show{% endif %}">
                    <p class="mb-0">Fill out these questions about the series that this movie is part of.<br>This movie is:</p>
                    {% if  movie.series_position == "end" %}
                        <div class="checkbox-container mt-0">
                            <input class="series-checkboxes" type="radio" id="start-series" name="series-checkboxes" value="start">
                            <label for="start-series"> The Start of a Series</label><br>
                            <input checked class="series-checkboxes" type="radio" id="end-series" name="series-checkboxes" value="end">
                            <label for="end-series"> The End of a Series</label><br>
                            <input class="series-checkboxes" type="radio" id="middle-series" name="series-checkboxes" value="middle">
                            <label for="middle-series"> None of the above</label><br>
                        </div>
                    {% elif movie.series_position == "start" %}
                        <div class="checkbox-container mt-0">
                            <input checked class="series-checkboxes" type="radio" id="start-series" name="series-checkboxes" value="start">
                            <label for="start-series"> The Start of a Series</label><br>
                            <input class="series-checkboxes" type="radio" id="end-series" name="series-checkboxes" value="end">
                            <label for="end-series"> The End of a Series</label><br>
                            <input class="series-checkboxes" type="radio" id="middle-series" name="series-checkboxes" value="middle">
                            <label for="middle-series"> None of the above</label><br>
                        </div>
                    {% else %}
                        <div class="checkbox-container mt-0">
                            <input class="series-checkboxes" type="radio" id="start-series" name="series-checkboxes" value="start">
                            <label for="start-series"> The Start of a Series</label><br>
                            <input class="series-checkboxes" type="radio" id="end-series" name="series-checkboxes" value="end">
                            <label for="end-series"> The End of a Series</label><br>
                            <input checked class="series-checkboxes" type="radio" id="middle-series" name="series-checkboxes" value="middle">
                            <label for="middle-series"> None of the above</label><br>
                        </div>
                    {% endif %}
                    <input type="text" value="{{ movie.series_name|title }}" name="series-name" id="series-name" placeholder="Series Name" class="validate" pattern="^[a-zA-Z0-9 \p{P}]+$">
                    <input type="text" {% if  movie.series_position == 'start' %}disabled{% endif %} value="{{ movie.previous_movie_title|title }}" name="previous-movie-name" id="previous-movie-name" placeholder="Previous Movie in the Series" class="validate" pattern="^[a-zA-Z0-9 \p{P}]+$">
                    <input type="text" {% if  movie.series_position == 'end' %}disabled{% endif %} value="{{ movie.next_movie_title|title }}" name="next-movie-name" id="next-movie-name" placeholder="Next Movie in the Series" class="validate" pattern="^[a-zA-Z0-9 \p{P}]+$">
                    <div class="checkbox-container mb-2 text-center">
                        <input class="series-checkboxes" type="checkbox" id="submit-series-info" name="submit-series-info" value="submit">
                        <label class="form-check-label" for="submit-series-info"> Click this box to submit the Series information</label><br>
                    </div>
                </div>
                <div id="add-review" class="card form-card card-small shadow hidden collapse">
                    <p>Write your review of this movie</p>
                    <input type="text" name="review-title" id="review-title" class="mb-4" placeholder="Review Title" pattern="^[a-zA-Z0-9 \p{P}]+$">
                    <textarea name="movie-review" id="movie-review" rows ="8" cols="100" placeholder="Movie Review"></textarea>
                    <div class="star-rating-container">
                        <input type="hidden" name="star-count" id="star-count" value="0">
                        <span>Click the stars to choose your Star Rating: </span>
                        <span class="star_container">
                            <i id="1" class="fas fa-star"></i>
                            <i id="2" class="fas fa-star"></i>
                            <i id="3" class="fas fa-star"></i>
                            <i id="4" class="fas fa-star"></i>
                            <i id="5" class="fas fa-star"></i>
                        </span>
                    </div>
                    <div class="checkbox-container mb-2 text-center">
                        <input class="series-checkboxes" type="checkbox" id="submit-movie-review" name="submit-movie-review" value="submit">
                        <label class="form-check-label" for="submit-movie-review"> Click this box to submit your Movie Review</label><br>
                    </div>
                </div>
                <div class="buttons-container mt-4">
                    <button type="submit" class="generic-button button-color-gold mt-2">Update Movie</button>
                    <button class="generic-button mt-2"><a href="{{ url_for('home') }}">Cancel</a></button>
                    <button class="generic-button button-color-red mt-2"><a href="{{ url_for('delete_movie', movie_id=movie._id) }}">Delete Movie</a></button>
                </div>
            </form>
        </div>
    </div>


{% endblock %}
