{% extends "base.html" %}
{% block content %}

    <h1 id="header-title">Edit Account</h1>

    <div id="edit_user_profile-content" class="container">
        <div class="card form-card card-small shadow">
            <form class="generic-form" method="POST" action="{{ url_for('edit_user_profile', user_id=user._id) }}" >
                <div class="text-end small-text unselected-text">
                    * required
                </div>
                <!-- Form Input Section -->
                <label for="username" class="small-text unselected-text">Username *</label>
                <div>
                    <input type="text" value="{{ user.username }}" name="username" id="username" placeholder="Username" minlength="4" maxlength="20" class="validate" pattern="^(?!.*[-_]{3})[a-zA-Z][a-zA-Z0-9_-]{4,20}$" required>
                    <p class="invalid-message">4 to 20 characters long, starting with a letter, using letters, numbers and only 2 underscores or dashs consecutively</p>
                </div>
                <hr class="shadow">
                <label for="firstname" class="small-text unselected-text">First Name *</label>
                    <div>
                        <input type="text" value="{{ user.firstname|title }}" name="firstname" id="firstname" placeholder="First Name" minlength="2" maxlength="25" class="validate" pattern="^(?!.*[ -]{2})[a-zA-Z- ]{2,25}$" required>
                        <p class="invalid-message">2 to 25 characters long using letters and only 1 space or dash consecutively</p>
                    </div>
                    <label for="lastname" class="small-text unselected-text">Last Name *</label>
                    <div>
                        <input type="text" value="{{ user.lastname|title }}" name="lastname" id="lastname" placeholder="Last Name" minlength="2" maxlength="25" class="validate" pattern="^(?!.*[ -]{2})[a-zA-Z- ]{2,25}$" required>
                        <p class="invalid-message">2 to 25 characters long using letters and only 1 space or dash consecutively</p>
                    </div> 
                    <label for="dob" class="small-text unselected-text">Date Of Birth *</label>
                    <div>
                        <input onkeydown="return false" type='date' onfocus="dobDatePicker()" value="{{ user.dob }}" name="dob" id="dob" class="validate" required>
                        <p class="invalid-message">Use the date picker to select your date of birth</p>
                    </div>
                    <label for="email" class="small-text unselected-text">Email Address *</label>
                    <div>
                        <input type="email" value="{{ user.email }}" name="email" id="email" placeholder="Email Address" minlength="6" maxlength="40" class="validate" required>
                        <p class="invalid-message">Email address up to 40 characters which must have @ and a domain extension</p>
                    </div>
                <hr class="shadow">
                <p class="text-center small-text">Pick your favourite movie genre.</p>
                <!-- Genre Dropdown Selector -->
                <div class="dropdown">
                    <button class="dropdown-button dropdown-toggle text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      <span>Movie Genre Selection</span><i class="fas fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu checkbox-group required" aria-labelledby="dropdownMenuButton1">
                        {% for genre in genre_list %}
                            {% if genre.checked %}
                            <li><input checked id="{{ genre.genre_name|replace(' ','-') }}" name="movie-genre" value="{{ genre.genre_name|lower }}" type="checkbox">{{ genre.genre_name|title }}</li>
                            {% else %}
                            <li><input id="{{ genre.genre_name|replace(' ','-') }}" name="movie-genre" value="{{ genre.genre_name|lower }}" type="checkbox">{{ genre.genre_name|title }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <!-- Form Buttons Container -->
                <div class="buttons-container mt-4">
                    <button type="submit" class="generic-button button-color-gold">Update Account</button>
                    <a  class="button generic-button" href="{{ url_for('profile') }}">Cancel</a>
                    <button type="button" class="generic-button button-color-red" onclick="confirmProfileDelete()">Delete Account</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Confirm Profile Delete Screen - hidden until Delete Profile is clicked -->
    <div id="confirm_profile_delete" class="container card-large">
        <div class="row g-0">
            <div class="col-12 px-2 text-center">
                <h2 class="mt-5">Are you sure you want to delete this user profile?</h2>
                <i class="fas fa-exclamation-triangle display-1"></i>
                <p class="px-2 mt-4">Deleting this account will be permenent and you will not be able to modify any reviews or movie profiles created with this account even if you register again</p>
            </div>
        </div>
        <!-- Confirm Delete Buttons Container -->
        <div class="buttons-container mt-4">
            <a  class="button generic-button button-color-red" href="{{ url_for('delete_user_profile', user_id=user['_id']) }}">Delete Profile</a>
            <a  class="button generic-button" href="{{ url_for('profile') }}">Cancel</a>
        </div>
    </div>


{% endblock %}

{% block scripts %}

    <script src="{{url_for('static', filename='js/profile-delete.js')}}"></script>
    <script src="{{url_for('static', filename='js/dropdown-color-change.js')}}"></script>
    <script src="{{url_for('static', filename='js/genre-selected-check.js')}}"></script>
    <script src="{{url_for('static', filename='js/date-picker.js')}}"></script>

{% endblock %}