{% extends "base.html" %}
{% block content %}

    <h1 id="header-title">Whoops!</h1>

    <div class="container-md">
        <div class="row">
            <div class="col-12 text-center error-display">
                <div class="py-5">
                    <h5 class="mt-3">{{ message }}</h5>
                    <i class="fas fa-exclamation-triangle display-1 mt-3"></i>
                    <h3 class="my-3">{{ error_code }}</h3>
                    <a href="{{ url_for('home') }}">Click here to get back to the MovieWiki homepage</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
