{% extends "base.html" %}
{% block content %}

    <h1 id="header-title">Genres</h1>

    <div class="container-md">
        <form class="search-bar-container" method="POST" action="{{ url_for('add_genre') }}">
            <div class="input-container">
                <input type="text" name="genre-name" id="genre-name" placeholder="New Genre Name" required>
                <i class="fas fa-folder-plus"></i>
            </div>
            <button class="generic-button button-color-green" type="submit">Add New Genre</button>
        </form>
        <div class="card form-card">
            {% for genre in genre_list %}
                <div class="row g-0">
                    <div class="col">
                        <div class="genre-container">
                            <h3 class="mb-0">{{ genre.genre_name|capitalize }}</h3> 
                            <div class="buttons-container">
                                <button class="generic-button button-color-gold my-1">Update</button>
                                <button class="generic-button button-color-red my-1">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>                
            {% endfor %}
        </div>


{% endblock %}
