{% extends "base.html" %}
{% block content %}

    <h1 id="header-title">MovieWiki</h1>

    <div class="container-md">
        <div class="row g-0">
            <div class="col">
                <form class="new-genre-form">
                    <div class="input-container">
                        <input type="text" name="genre-name" id="genre-name" placeholder="New Genre Name" required>
                        <i class="fas fa-folder-plus"></i>
                    </div>
                    <button class="generic-button button-color-gold" type="submit">Search</button>
                </form>
                
            </div>
        </div>
    </div>
