{% extends "base.html" %}
{% block content %}

    <h1 id="header-title">MovieWiki</h1>

    <div class="container-md">
        <div class="row g-0">
            <div class="col">
                <div class="text-center mt-5 mb-1">
                    <h3>Welcome to MovieWiki the place to share your views on the latest movies and find new movies to watch!</h3>
                    <h5>To get started search for a movie title or have a look throught the lists below</h5>
                </div>
                <form method="POST" action="{{ url_for('movie_title_search') }}" class="search-bar-container">
                    <div class="input-container">
                        <div>
                            <input type="text" name="movie_title_search" id="movie_title_search" placeholder="Search for a Movie" minlength="3" maxlength="30" class="validate" pattern="^(?!.*[ -]{2})[a-zA-Z0-9- ]{3,30}$" required>
                            <p class="invalid-message">3 to 30 characters long using letters, numbers and only 1 space or dash consecutively</p>
                        </div>
                    </div>
                    <button class="generic-button button-color-gold" type="submit"></i>Search <i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
        {% if session["user"] %}
            <div class="row g-0">
                <div class="col">
                    <h3 class="carousel-label">Movies Recomended for You</h3>
                    <div class="movie-carousel">
                        {% for movie in movies_for_you %}
                            <div class="movie-picture-display">
                                <div class="movie-image-continer">
                                    <a href="{{ url_for('view_movie', movie_id=movie._id) }}">
                                        <img src="{{ movie.image_link }}" alt="Movie Image">
                                    </a>
                                </div>
                                <h4 class="movie-text">{{ movie.movie_title }}</h4>
                            </div>
                        {% endfor %}
                        <div class="movie-picture-display">
                            <div class="movie-placeholder">
                                <p>Add some genres to your profile for more recomendations here!</p>
                                <button class="generic-button button-color-gold"><a href="{{ url_for('edit_user_profile', user_id=session['id']) }}">Update Profile</a></button>
                            </div>
                            <h4 class="movie-text">Still Looking?</h4>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="generic-divider shadow">
            <div class="row g-0">
                <div class="col">
                    <h3 class="carousel-label">Movies You Want To Watch</h3>
                    <div class="movie-carousel">
                        {% for movie in want_to_watch %}
                            <div class="movie-picture-display">
                                <div class="movie-image-continer">
                                    <a href="{{ url_for('view_movie', movie_id=movie._id) }}">
                                        <img src="{{ movie.image_link }}" alt="Movie Image">
                                    </a>
                                </div>
                                <h4 class="movie-text">{{ movie.movie_title }}</h4>
                            </div>
                        {% endfor %}
                        <div class="movie-picture-display">
                            <div class="movie-placeholder">
                                <p>Go to your profile for a full list of the films you Want to Watch!</p>
                                <button class="generic-button button-color-gold"><a href="{{ url_for('profile', user_id=session['id']) }}">Your Profile</a></button>
                            </div>
                            <h4 class="movie-text">Still Looking?</h4>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="generic-divider shadow">
        {% endif %}
        <div class="row g-0">
            <div class="col">
                <h3 class="carousel-label">Highest Rated Movies</h3>
                <div class="movie-carousel">
                    {% for movie in highest_rated %}
                    <div class="movie-picture-display">
                        <div class="movie-image-continer">
                            <a href="{{ url_for('view_movie', movie_id=movie._id) }}">
                                <img src="{{ movie.image_link }}" alt="Movie Image">
                            </a>
                        </div>
                        <div class="movie-text">
                            <h4>{{ movie.movie_title }}</h4>
                            <p class="mb-0 small-text">{{movie.average_rating}} Stars</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <hr class="generic-divider shadow">
        <div class="row g-0">
            <div class="col">
                <h3 class="carousel-label">Latest Releases</h3>
                <div class="movie-carousel">
                    {% for movie in latest_releases %}
                    <div class="movie-picture-display">
                        <div class="movie-image-continer">
                            <a href="{{ url_for('view_movie', movie_id=movie._id) }}">
                                <img src="{{ movie.image_link }}" alt="Movie Image">
                            </a>
                        </div>
                        <div class="movie-text">
                            <h4>{{ movie.movie_title }}</h4>
                            <p class="mb-0 small-text">{{ movie.release_date.strftime("%B %Y") }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <hr class="generic-divider shadow">
        <div class="row g-0">
            <div class="col">
                <h3 class="carousel-label">All Movies</h3>
                <div class="movie-carousel">
                    {% for movie in all_movies %}
                        <div class="movie-picture-display">
                            <div class="movie-image-continer">
                                <a href="{{ url_for('view_movie', movie_id=movie._id) }}">
                                    <img src="{{ movie.image_link }}" alt="Movie Image">
                                </a>
                            </div>
                            <h4 class="movie-text">{{ movie.movie_title }}</h4>
                        </div>
                    {% endfor %}
                    {% if session['user'] %}
                        <div class="movie-picture-display">
                            <div class="movie-placeholder">
                                <p>Can't find the film you want then try searching or create a new profile for it!</p>
                                <button class="generic-button button-color-gold"><a href="{{ url_for('create_movie') }}">Create Movie</a></button>
                            </div>
                            <h4 class="movie-text">Still Looking?</h4>
                        </div>
                    {% else %}
                        <div class="movie-picture-display">
                            <div class="movie-placeholder">
                                <p>Can't find the film you want then try searching or sign in and create a new profile for it!</p>
                                <button class="generic-button button-color-gold"><a href="{{ url_for('signin') }}">Sign In</a></button>
                            </div>
                            <h4 class="movie-text">Still Looking?</h4>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}