{% extends "base.html" %}
{% block content %}

    <h1 id="header-title">Movie Search</h1>

    <div class="container-md">
        <div class="row g-0">
            <div class="col">
                <form method="POST" action="{{ url_for('movie_title_search') }}" class="search-bar-container">
                    <div class="input-container">
                        <div>
                            <input type="text" name="movie_title_search" id="movie_title_search" placeholder="Search for a Movie" minlength="0" maxlength="30" class="validate" pattern="^(?!.*[ -]{2})[a-zA-Z0-9- ]{0,30}$" required>
                            <p class="invalid-message">Up to 30 characters long using letters, numbers only 1 space or dash consecutively</p>
                        </div>
                    </div>
                    <button class="generic-button button-color-gold" type="submit"></i>Search <i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
        <div class="row g-0">
            <div class="col">
                <h3 class="carousel-label">Search Results</h3>
                <div class="row g-0">
                    <div class="col-12 search-results-container shadow">
                        {% for movie in movies %}
                            <div class="movie-picture-display">
                                <a href="{{ url_for('view_movie', movie_id=movie._id) }}">
                                    <div class="movie-image-continer">
                                        <img src="{{ movie.image_link }}" onerror="this.onerror=null;this.src='{{ url_for('static', filename='img/movie_placeholder.png') }}'" alt="Movie Image">
                                    </div>
                                </a>
                                <h4>{{ movie.movie_title }}</h4>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}