{% extends "base.html" %}
{% block content %}

    <h1 id="header-title">User Profile</h1>

    <div class="container-md">
        <div class="card form-card shadow">
            <div class="row g-0">
                <div class="col-12 col-md-4 profile_controls_container">
                    <h1>{{ user.username }}</h1>
                    <div class="mt-3">
                        <p><strong>First Name:</strong> {{ user.firstname|title }}</p>
                        <p><strong>Last Name:</strong> {{ user.lastname|title }}</p>
                        <p><strong>Email Address:</strong> {{ user.email }}</p>
                    </div>
                    <div class="my-5 d-none d-md-flex">
                        <button class="generic-button button-color-gold"><a href="{{ url_for('edit_user_profile') }}">Update Profile</a></button>
                    </div>
                </div>
                <div class="col-12 col-md-8 user-info">
                    <div>
                        <p class="mb-1"><strong>Favourite Genres :</strong></p>
                        <ul>
                            {% for genre in user.favourite_genres %}
                            <li>{{ genre|capitalize }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <p><strong>Been a member since :</strong> {{ user.date_joined.strftime('%d %B %Y') }}</p>
                    <p><strong>Number of Reviews submitted :</strong> {{ user.movies_reviewed|length }}</p>
                    <p><strong>Number of Movies Watched :</strong> {{ user.movies_watched|length }}</p>
                </div>
                <div class="col-12 d-md-none text-center">
                    <button class="generic-button button-color-gold"><a href="{{ url_for('edit_user_profile'}}">Update Profile</a></button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="accordion mt-3" id="user-profile-accordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="to-watch-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#movies-to-watch-collapse" aria-expanded="false"
                                    aria-controls="movies-to-watch-collapse">
                                    <i class="fas fa-clipboard-list ms-4 me-5"></i> Movies You Want to Watch
                                </button>
                            </h2>
                            <div id="movies-to-watch-collapse" class="accordion-collapse collapse"
                                aria-labelledby="to-watch-heading" data-bs-parent="#user-profile-accordion">
                                <div class="accordion-body">
                                    <div class="row g-0">
                                        {% if user.movies_to_watch|length > 0 %}
                                            {% for movie in user.movies_to_watch %}
                                                <div class="col-12 col-md-6 col-lg-4">
                                                    <p class="mb-0">
                                                        <i class="far fa-caret-square-right me-1 me-sm-3"></i>{{ movie|title }}
                                                    </p>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            <div class="col-12">
                                                <h5 class="mb-0 mt-1">Add Movies that you <strong>WANT TO WATCH</strong>  from their pages!</h5>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="watched-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#movies-watched-collapse" aria-expanded="false"
                                        aria-controls="movies-watched-collapse">
                                        <i class="fas fa-glasses ms-3 me-5"></i> Movies You Have Watched
                                    </button>
                                </h2>
                                <div id="movies-watched-collapse" class="accordion-collapse collapse"
                                    aria-labelledby="watched-heading" data-bs-parent="#user-profile-accordion">
                                    <div class="accordion-body">
                                        <div class="row g-0">
                                            {% if user.movies_watched|length > 0 %}
                                                {% for movie in user.movies_watched %}
                                                    <div class="col-12 col-md-6 col-lg-4">
                                                        <p class="mb-0">
                                                            <i class="far fa-caret-square-right me-1 me-sm-3"></i>{{ movie|title }}
                                                        </p>
                                                    </div>
                                                {% endfor %}
                                            {% else %}
                                                <div class="col-12">
                                                    <h5 class="mb-0 mt-1">Add Movies that you <strong>HAVE WATCHED</strong> from their pages!</h5>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if user_latest_reviews|length > 0 %}
                <div class="row">
                    <div class="col-12">
                        <h3 class="mt-4">Your Latest Reviews</h3>
                        <div class="card form-card shadow">
                            <div class="accordion" id="user-review-accordion">
                                {% for review in user_latest_reviews %}
                                    {% if loop.index < 4 %}
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="user-review-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#review-collapse-{{loop.index}}" aria-expanded="false"
                                                    aria-controls="review-collapse">
                                                    <i class="fas fa-film d-none d-sm-block ms-2 me-2 me-sm-5"></i> {{ review.review_for|title }} - {{ review.review_title|title }} - {{ review.star_rating }} Stars
                                                </button>
                                            </h2>
                                            <div id="review-collapse-{{loop.index}}" class="accordion-collapse collapse"
                                                aria-labelledby="user-review-heading" data-bs-parent="#user-review-accordion">
                                                <div class="accordion-body">
                                                    <p>{% if review.review %}{{ review.review }}{% else %}There is no text in this review{% endif %}</p>
                                                    <p class="small-text">Reviewed on: {{ review.review_date.strftime('%d %B %Y at %H:%M') }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        {% if suggested_movies|length > 0 %}
            <div class="row g-0">
                <div class="col">
                    <h3 class="carousel-label">Movies Recommended For You</h3>
                    <div class="movie-carousel">
                        {% for item in suggested_movies %}
                                <div class="movie-picture-display">
                                    <div class="movie-image-continer">
                                        <a href="{{ url_for('view_movie', movie_id=item._id) }}">
                                            <img src="{{ item.image_link }}" onerror="this.onerror=null;this.src='{{ url_for('static', filename='img/movie_placeholder.png') }}'" alt="Movie Image">
                                        </a>
                                    </div>
                                    <h4 class="movie-text">{{ item.movie_title }}</h4>
                                </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}