{% extends "base.html" %}
{% block content %}

    <h1 id="header-title">Sign In</h1>
    <div class="container">
        <div class="card form-card card-small shadow py-3">
            <form class="generic-form" method="POST" action="{{ url_for('signin') }}" >
                <div class="generic-form">
                    <label for="username" class="small-text unselected-text">Username</label>
                    <div>
                        <input type="text" name="username" id="username" placeholder="Username" minlength="4" maxlength="15" class="validate" pattern="^(?!.*[0-9-_]{3})[a-zA-Z0-9_-]{4,15}$" required>
                        <p class="invalid-message">4 to 15 characters long using letters, numbers and only 1 space, underscore or dash consecutively</p>
                    </div>
                    <label for="password" class="smalll-text unselected-text">Password</label>
                    <div>
                        <input type="password" name="password" id="password" placeholder="Password" minlength="5" maxlength="15" class="validate" pattern="^[a-zA-Z0-9-_!?]{5,15}$" required>
                        <p class="invalid-message">5 to 20 characters long with letters, numbers and these symbols -_!? only</p>
                    </div>
                    <div class="buttons-container mt-4">
                        <button type="submit" class="generic-button button-color-gold mt-2">Login</button>
                    </div>
                    <p class="mt-3 mb-0 text-center">Don't have an account? <a href="{{ url_for('signup') }}">Create one here!</a></p>
                </div>
            </form>
        </div>
    </div>


{% endblock %}
