{% extends "base.html" %}
{% block content %}

    <h1 id="header-title">Sign Up</h1>

    <div class="container">
        <div class="card form-card card-small shadow pt-3 pb-5">
            <form class="generic-form" method="POST" action="{{ url_for('signup') }}" >
                <div class="text-end small-text unselected-text">
                    * required
                </div>
                <div class="generic-form">
                    <label for="username" class="small-text unselected-text">Username *</label>
                    <div>
                        <input type="text" name="username" id="username" placeholder="Username" minlength="4" maxlength="20" class="validate" pattern="^(?!.*[-_]{3})[a-zA-Z][a-zA-Z0-9_-]{4,20}$" required>
                        <p class="invalid-message">4 to 20 characters long, starting with a letter, using letters, numbers and only 2 underscores or dashs consecutively</p>
                    </div>
                    <label for="password" class="small-text unselected-text">Password *</label>
                    <div>
                        <input type="password" name="password" id="password" placeholder="Password" minlength="5" maxlength="15" class="validate" pattern="^[a-zA-Z0-9-_!?]{5,15}$" required>
                        <p class="invalid-message">5 to 20 characters long with letters, numbers and these symbols -_!? only</p>
                    </div>
                    <label for="password-confirm" class="small-text unselected-text">Confirm Password *</label>
                    <div>
                        <input type="password" name="password-confirm" id="password-confirm" placeholder="Confirm Password"  minlength="5" maxlength="15" class="validate" pattern="^[a-zA-Z0-9-_!?]{5,15}$" required>
                        <p class="invalid-message">5 to 20 characters long with letters, numbers and these symbols -_!?/\ only</p>
                    </div>
                    <p id="password-feedback" class="small-text pb-0 text-center">&nbsp</p>
                    <hr class="shadow">
                    <label for="firstname" class="small-text unselected-text">First Name *</label>
                    <div>
                        <input type="text" name="firstname" id="firstname" placeholder="First Name" minlength="2" maxlength="25" class="validate" pattern="^(?!.*[ -]{2})[a-zA-Z- ]{2,25}$" required>
                        <p class="invalid-message">2 to 25 characters long using letters and only 1 space or dash consecutively</p>
                    </div>
                    <label for="lastname" class="small-text unselected-text">Last Name *</label>
                    <div>
                        <input type="text" name="lastname" id="lastname" placeholder="Last Name" minlength="2" maxlength="25" class="validate" pattern="^(?!.*[ -]{2})[a-zA-Z- ]{2,25}$" required>
                        <p class="invalid-message">2 to 25 characters long using letters and only 1 space or dash consecutively</p>
                    </div> 
                    <label for="dob" class="small-text unselected-text">Date Of Birth *</label>
                    <div>
                        <input onkeydown="return false" type='text' onfocus="(this.type='date');dobDatePicker()" name="dob" id="dob" placeholder="Date of Birth" class="validate" required>
                        <p class="invalid-message">Use the date picker to select your date of birth</p>
                    </div>
                    <label for="email" class="small-text unselected-text">Email Address *</label>
                    <div>
                        <input type="email" name="email" id="email" placeholder="Email Address" minlength="6" maxlength="40" class="validate" required>
                        <p class="invalid-message">Email address up to 40 characters which must have @ and a domain extension</p>
                    </div>
                    <hr class="shadow">
                    <label for="genre-dropdown-button" class="text-center">Pick your favourite movie genres</label>
                    <div class="dropdown">
                        <button class="dropdown-button dropdown-toggle text-start" type="button" id="genre-dropdown-button" data-bs-toggle="dropdown" aria-expanded="false">
                          <span>Movie Genre Selection</span><i class="fas fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu checkbox-group required" aria-labelledby="genre-dropdown-button">
                            {% for genre in genre_list %}
                                <li><input id="{{ genre.genre_name|replace(' ','-') }}" name="favourite-genre" value="{{ genre.genre_name|lower }}" type="checkbox">{{ genre.genre_name|title }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="buttons-container mt-4">
                        <button type="submit" class="generic-button button-color-gold">Create Account</button>
                        <a class="button generic-button" href="{{ url_for('home') }}">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>


{% endblock %}

{% block scripts %}

    <script src="{{url_for('static', filename='js/dropdown-color-change.js')}}"></script>
    <script src="{{url_for('static', filename='js/password-validation.js')}}"></script>
    <script src="{{url_for('static', filename='js/genre-selected-check.js')}}"></script>
    <script src="{{url_for('static', filename='js/date-picker.js')}}"></script>
    
{% endblock %}
