{% extends "base.html" %}
{% block content %}

    <h1 id="header-title">Sign In</h1>
    <div class="container">
        <div class="card form-card card-small shadow py-3">
            <form class="generic-form" method="POST" action="{{ url_for('signup') }}" >
                <div class="generic-form">
                    <label for="username" class="sub-script unselected-text">Username *</label>
                    <input type="text" name="username" id="username" placeholder="Username" minlength="5" maxlength="15" class="validate" pattern="^[a-zA-Z0-9-_]+{5,15}$" required>
                    <label for="password" class="sub-script unselected-text">Password *</label>
                    <input type="password" name="password" id="password" placeholder="Password" minlength="5" maxlength="15" class="validate" pattern="^[a-zA-Z0-9-_]+{5,15}$" required>
                    <div class="buttons-container mt-4">
                        <button type="submit" class="generic-button button-color-gold mt-2">Login</button>
                    </div>
                    <p class="mt-3 mb-0 text-center">Don't have an account? <a href="{{ url_for('signup') }}">Create one here!</a></p>
                </div>
            </form>
        </div>
    </div>


{% endblock %}
