{% extends "base.html" %}
{% block content %}

    <h1 id="header-title">Sign In</h1>

    <div class="container">
        <div class="card form-card shadow">
            <form class="generic-form" action="POST">
                <input type="text" name="username" id="username" placeholder="Username" required>
                <input type="password" name="password" id="password" placeholder="Password" required>
                <button type="submit" class="generic-button button-color-gold mt-2">Login</button>
            </form>
        </div>
    </div>

{% endblock %}
