{% extends "base.html" %}
{% block content %}

<h1 id="header-title">Reviews</h1>

<div class="container-md">
    <div class="row g-0 py-2 mt-5 reviews-header shadow">
        <div class="col-12 col-sm-6 col-md-3">
            <div class="d-flex justify-content-center">
                <a href="{{ url_for('view_movie', movie_id=movie._id) }}">
                    <img src="{{ movie.image_link }}" alt="Movie Image">
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 pt-3 text-center">
            <h1>{{ movie.movie_title }}</h1>
        </div>
        <div class="col-12 col-md-3 pt-3 text-center">
            <h4>Average Star Rating:</h4>
            <h5> {{ movie.average_review_score }} / 5 </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12 reviews-container mt-4">
            {% for review in movie.reviews %}
                <div class="card form-card card-small review-card shadow">
                    <div class="review-header">
                        <div class="row pb-2">
                            <div class="col-12 col-md-6">
                                <h4 class="mb-0"> {{ review.review_title }} </h4>
                                {% for star in range(review.star_rating) %}
                                    <i id="star" class="fas fa-star gold-star"></i>
                                {% endfor %}
                                {% for star in range(5 - review.star_rating) %}
                                        <i id="star" class="fas fa-star"></i>
                                {% endfor %}
                            </div>
                            <div class="col-12 col-md-6 text-end">
                                <p class="mb-0 sub-script">
                                    Reviewer: {{ review.reviewer|title }}
                                </p>
                                <p class="mb-0 sub-script">
                                    Review date: {{ review.review_date.strftime('%d/%m/%Y') }}
                                </p>
                                    
                            </div>
                        </div>
                    </div>
                    <div class="review-body small-text">
                        <p>{{ review.review }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% endblock %}