{% extends "base.html" %}
{% block content %}

    <h1 id="header-title">Movie</h1>

    <div class="container-md">
        {% if user_reviewed == False %}
            <div class="text-button-container">
                <p class=" text-center">Want to add your review of this movie? Click here!</p>
                {% if session["id"] %}
                    <a class="button generic-button button-color-gold" href="{{ url_for('create_review', movie_id=movie._id) }}">Create Review</a>
                {% else %}
                    <a class="button generic-button button-color-gold" href="{{ url_for('signin') }}">Sign In</a> 
                {% endif %}
            </div>
        {% else %}
            <div class="text-button-container">
                <p class=" text-center">You have reviewed this movie</p><a class="button generic-button button-color-gold" href="{{ url_for('edit_review', movie_id=movie._id) }}">Update Review</a>
            </div>
        {% endif %}
        <div class="card form-card mt-0 shadow">
            <div class="row my-3">
                <div class="col-12 col-md-7  text-center text-md-start">
                    <div class="row">
                        <div class="col-12 col-md-11">
                            <h1 class=" ms-md-5">{{ movie.movie_title }}</h1>
                        </div>
                        <div class="col-12 col-md-1 g-0">
                            {% if user_watched == True %}
                                <div class="tooltip-custom text-center h3">
                                    <i class="fas fa-glasses"></i>
                                    <span class="tooltiptext-icon">You have watched this Movie</span>
                                </div>
                            {% endif %}
                            {% if user_want_to_watch == True %}
                                <div class="tooltip-custom text-center h3">
                                    <i class="fas fa-clipboard-list"></i>
                                    <span class="tooltiptext-icon">You want to watch this Movie</span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-5 text-center text-md-end pe-md-5">
                    <h3>Age Rating: {{ movie.age_rating|upper }}</h3>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-12 col-md-4">
                    <div class="movie-picture-display single-movie-picture-display">
                        <a href="{{ url_for('view_movie', movie_id=movie._id) }}">
                            <div class="movie-image-continer">
                                <img src="{{ movie.image_link }}" onerror="this.onerror=null;this.src='{{ url_for('static', filename='img/movie_placeholder.png') }}'" alt="Movie Image">
                            </div>
                        </a>
                    </div>
                    <div class="text-center my-3">
                        <h4 class="mb-0">Average Star Rating:</h4>
                        <div class="five-stars-container">
                            <div class="position-relative">
                                <img src="{{ url_for('static', filename='img/5_black_stars.png') }}" alt="" class="mask" id="five_stars_mask">
                                <img src="{{ url_for('static', filename='img/5_stars.png') }}" alt="" class="five-stars">
                            </div>
                        </div>
                        <h5><span id="average_rating">{% if movie.average_rating %}{{ movie.average_rating }}{% else %}0{% endif %}</span> / 5 </h5>
                    </div>
                    <div class="row g-0">
                        <div class="col-12 view-movie-button-container mb-3">
                            {% if session["id"] %}
                                {% if user_watched == True %}
                                    <a class="button generic-button button-color-gold movie-font"
                                            href="{{ url_for('remove_watched_movie', movie_id=movie._id) }}">I Haven't Watched
                                            This</a>
                                {% else %}
                                    <a class="button generic-button button-color-gold movie-font"
                                        href="{{ url_for('add_watched_movie', movie_id=movie._id) }}">I Have Watched
                                        This</a>
                                {% endif %}
                                {% if user_want_to_watch == True %}
                                    <a class="button generic-button button-color-gold movie-font"
                                        href="{{ url_for('remove_want_to_watch_movie', movie_id=movie._id) }}">I Don't Want to
                                        Watch This</a>
                                {% else %}
                                    <a class="button generic-button button-color-gold movie-font"
                                        href="{{ url_for('add_want_to_watch_movie', movie_id=movie._id) }}">I Want to Watch
                                        This</a>
                                {% endif %}
                            {% endif %}
                            <a class="button generic-button button-color-gold movie-font"
                                    href="{{ url_for('view_reviews', movie_id=movie._id) }}">View All Reviews</a>
                            {% if (movie.created_by == session["id"]) or (session["is_superuser"] == True) %}
                                <a class="button generic-button movie-font"
                                        href="{{ url_for('edit_movie', movie_id=movie._id) }}">Edit Movie Profile</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <p>{{ movie.movie_synopsis }}</p>
                    <p><strong>Duration :</strong> {{ movie.duration }} mins</p>
                    <p><strong>Genre :</strong> {{ movie.genre }}</p>
                    <p><strong>Release Date :</strong> {{ movie.release_date.strftime('%d %B %Y') }}</p>
                    {% if movie.director|length > 0 %}
                        <p><strong>Director : </strong>{{ movie.director|title }} </p>
                    {% endif %}
                    <p><strong>Number of Reviews :</strong> {{ movie.reviews|length }}</p>
                    {% if movie.average_review_score and movie.average_review_score > 0 %}
                        <p><strong>Average Rating :</strong> {{ movie.average_review_score }} out of 5</p>
                    {% endif %}
                    {% if movie.cast_members|length > 0 and movie.cast_members != [""] %}
                        <div class="row mb-3">
                            <p class="mb-0"><strong>Main Cast:</strong></p>
                            {% for member in movie.cast_members %}
                                <div class="col-12 col-md-6 col-lg-4">
                                    <p class="mb-0">
                                        {{ member|title }}
                                    </p>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if movie.is_part_of_series == True %}
                        <p class="mb-0"><strong>This Movie is part of a Series of Movies</strong></p>
                        {% if movie.movie_series_info.series_name and movie.movie_series_info.series_name != "" %}
                            <p class="mb-0">The series is called {{ movie.movie_series_info.series_name|title }}</p>
                        {% endif %}
                        {% if movie.movie_series_info.series_position == "start" or movie.movie_series_info.series_position == "end" %}
                            <p class="mb-0">This movie is the {{movie.movie_series_info.series_position}} of the series</p>
                        {% elif movie.movie_series_info.series_position == "middle" %}
                            <p class="mb-0">This movie is part of the way through the series</p>
                        {% endif %}
                        {% if movie.movie_series_info.series_position == "end" or movie.movie_series_info.series_position == "middle" %}
                            <p class="mb-0">Previous Movie Title: {{ movie.movie_series_info.previous_movie_title|title }}</p>
                        {% endif %}
                        {% if movie.movie_series_info.series_position == "start" or movie.movie_series_info.series_position == "middle" %}
                            <p class="mb-0">Next Movie Title: {{ movie.movie_series_info.next_movie_title|title }}</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="accordion" id="movie-info-accordion">
                        {% if movie.movie_description|length > 0 %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="description-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#description-collapse" aria-expanded="false"
                                        aria-controls="description-collapse">
                                        Full Movie Description
                                    </button>
                                </h2>
                                <div id="description-collapse" class="accordion-collapse collapse"
                                    aria-labelledby="description-header" data-bs-parent="#movie-info-accordion">
                                    <div class="accordion-body">
                                        {{ movie.movie_description }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if movie.trailer_link|length > 0 %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="to-watch-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#movies-to-watch-collapse" aria-expanded="false"
                                        aria-controls="movies-to-watch-collapse">
                                        Trailer
                                    </button>
                                </h2>
                                <div id="movies-to-watch-collapse" class="accordion-collapse collapse"
                                    aria-labelledby="to-watch-header" data-bs-parent="#movie-info-accordion">
                                    <div class="accordion-body">
                                        <iframe id="ytplayer" type="text/html" width="640" height="360"
                                            src="{{ movie.trailer_link }}" frameborder="0"></iframe>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% if latest_reviews|length > 0 %}
                        <h3 class="mt-4 ms-4">Latest Reviews</h3>
                        <div class="card form-card">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="d-none d-lg-table-cell">Review Date</th>
                                        <th class="d-none d-md-table-cell">Reviewer</th>
                                        <th>Review Title</th>
                                        <th>Star Rating</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for review in latest_reviews %}
                                    <tr>
                                        <td class="d-none d-lg-table-cell">{{ review.review_date.strftime('%d/%m/%Y')  }}</td>
                                        <td class="d-none d-md-table-cell">{{ review.reviewer|title }}</td>
                                        <td>{{ review.review_title|title }}</td>
                                        <td>
                                            {% for i in range(0,5)%}
                                                {% if i < review.star_rating %}
                                                    <i class="fas fa-star gold-star"></i>
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if similar_movies|length > 0 %}
            <div class="row g-0">
                <div class="col">
                    <h3 class="carousel-label">Similar Movies</h3>
                    <div class="movie-carousel">
                        {% for item in similar_movies %}
                            <div class="movie-picture-display">
                                <a href="{{ url_for('view_movie', movie_id=item._id) }}">
                                    <div class="movie-image-continer">
                                        <img src="{{ item.image_link }}" onerror="this.onerror=null;this.src='{{ url_for('static', filename='img/movie_placeholder.png') }}'" alt="Movie Image">
                                    </div>
                                </a>
                                <h4 class="movie-text">{{ item.movie_title }}</h4>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block scripts %}

    <script src="{{url_for('static', filename='js/display-star-rating.js')}}"></script>

{% endblock %}